<%= render 'search/search' %>
<div class="col-md-6 col-md-offset-3">
  <h2 class="page-header">Search results for '<%= @queryString %>'</h2>
  <h3 class="page-header">Subs</h3>
  <% @subs.each do |s| %>
    <%= render 'shared/sub_card', {sub: s} %>
  <% end %>
  <h3 class="page-header">Posts</h3>
  <% @posts.each do |p| %>
    <%= render 'shared/post_card_simple', {post: p}%>
  <% end %>
</div>
