<div class="container-fluid">
  <div class="col-md-6 col-md-offset-3">
    <h1 align="center" class="center page-header">Overview</h1>
    <div class="">
      <h3 align="center" class="center page-header">Posts</h3>
      <% @posts.each do |p| %>
        <%= render 'shared/post_card_simple', {post: p}%>
      <% end %>
    </div>
    <div class="">
      <h3 align="center" class="center page-header">Comments</h3>
      <% @comments.each do |c| %>
        <%= render 'shared/comment_card', {comment: c} %>
      <% end %>
    </div>
  </div>
  <!-- side bar -->
  <div class="col-md-3" style="margin-top: 50px;">
    <div class="container-fluid">
      <div style="background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;">
        <%= render 'shared/user_card', {user: @user} %>
      </div>
    </div>
    <div class="container-fluid" style="margin-top: 10px;">
      <%= link_to "Add a post", new_post_path, class: ["btn btn-primary btn-block"] %>
    </div>
    <div class="container-fluid" style="margin-top: 50px;">
      <div class="card" style="background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem; padding: 10px">
        <div class="card-body">
          <h5 class="card-title">Activity</h5>
          <h5 class="card-subtitle text-muted">Active in subs: </h5>
        </div>
      </div>
    </div>
  </div>
</div>
