<div class="card card-sub">
  <div class="card-body">
    <h5 class="card-subtitle text-muted">
    <h5 class="card-title"><%= link_to '/r/' + sub.slug, sub_path(slug: sub.slug) %></h5>
    <h5 class="card-subtitle text-muted">
      <%= sub.description %>
    </h5>
  </div>
</div>
