<% content_for :sub_main do %>
<div>Moderator tools</div>
<% end %>

<% content_for :sub_side do %>
  <% if @sub.slug != 'all' %>
    <h3 align="center">This sub has <%= pluralize(count_subscribers(@sub), 'subscriber') %></h3>
    <% if logged_in? %>
      <% if is_moderator? current_user, @sub %>
        <h3 align="center">Admin tools</h3>
        <%= link_to "Edit Sub description", edit_sub_path(slug: @sub.slug), class: ["btn btn-warning btn-block"] %>
      <% end %>
    <% end %>
    <br>
    <% if @sub.description %>
      <pre>
        <%= @sub.description %>
      </pre>
    <% end %>
  <% end %>
<% end %>
