@import "bootstrap-sprockets";
@import "bootstrap";

.rating-object {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  .rating-vote {
    &:hover {
      cursor: pointer;
    }
  }
  .rating-highlight {
    &.rating-upvote {
      * {
        color: green;
      }
    }
    &.rating-downvote {
      * {
        color: red;
      }
    }
  }
}
